body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 64px;
    background-color: lightgreen;


}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 64px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
}
.container{
    min-height: 55vh;
    background-color: antiquewhite;
    color: black;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    margin: 23px auto;
    border-radius: 12px;
    padding: 30px;
    width: 80%;
    background-image: url("images/bgimg.jpg");
    background-size: 100%;
    
}
.bottom{
    position: sticky;
    height: 100px;
    bottom: 0%;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon{
    margin-top: 18px;
}
.icon i{
    cursor: pointer;
}
#myprogressbar{
    width: 80vw;
    cursor: pointer;
}
.songitemcontainer{
    margin: 20px 12px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: lightgreen;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}
.songItem img{
    width: 50px;
    margin: 0 18px;
    border-radius: 100%;
}
.timestamp{
    margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Times New Roman', Times, serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}